In [3]:
#importing libraries
import pandas as pd

In [4]:
df_tts=pd.read_excel("../Idealista/project_dataset.xls")
df_tts

,Unnamed: 0,propertyCode,numPhotos,floor,price,propertyType,operation,size,exterior,rooms,...,hasPlan,has3DTour,has360,parkingSpace,preciom2,dif_priceByArea_preciom2,population,insecurity_ratio,mean_price_munimadrid,centro_educativo
0,0,94477419,2,1,114000,flat,sale,53,False,1,...,False,False,False,NaN,2150.943396,0.056604,154.264,28.8,4170.1250,57
1,1,94474758,7,1,149000,flat,sale,38,False,1,...,False,False,False,NaN,3921.052632,-0.052632,154.264,28.8,4170.1250,57
2,2,94477419,2,1,114000,flat,sale,53,False,1,...,False,False,False,NaN,2150.943396,0.056604,154.264,28.8,4170.1250,57
3,3,94474758,7,1,149000,flat,sale,38,False,1,...,False,False,False,NaN,3921.052632,-0.052632,154.264,28.8,4170.1250,57
4,4,94471119,49,1,500000,flat,sale,125,True,3,...,True,False,False,"{'hasParkingSpace': True, 'isParkingSpaceInclu...",4000.000000,0.000000,154.264,28.8,4170.1250,57
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1603,1603,94304495,25,2,159000,flat,sale,123,True,2,...,False,False,True,"{'hasParkingSpace': True, 'isParkingSpaceInclu...",1292.682927,0.317073,139.909,56.0,2104.0625,58
1604,1604,94304043,8,2,199000,duplex,sale,133,False,4,...,False,False,False,NaN,1496.240602,-0.240602,139.909,56.0,2104.0625,58
1605,1605,94303103,25,2,139500,flat,sale,99,True,3,...,False,False,False,NaN,1409.090909,-0.090909,139.909,56.0,2104.0625,58
1606,1606,94301925,27,bj,119000,flat,sale,71,False,3,...,False,False,False,NaN,1676.056338,-0.056338,139.909,56.0,2104.0625,58
1607,1607,94300959,10,7,118000,flat,sale,78,True,2,...,False,False,False,NaN,1512.820513,0.179487,139.909,56.0,2104.0625,58